@(userCount: Integer, loggedInUser: models.User, statuses: List[models.Status], statusForm: Form[models.Status], userForm: Form[models.User])

@import helper._

@main("Play Tweets") {
    <script type="text/javascript" src="@routes.TweetController.javascriptRoutes()"></script>
    
    <div class="row">
	    <div class="span6">
		    @if(loggedInUser != null) {
		      <strong> Welcome @loggedInUser.username</strong>
		    }
	    </div>

      <div class="span6">
          <strong> @userCount Twitters</strong>
      </div>
    </div>

	  <h1>Search For People to Follow</h1>
	  @helper.form(action = routes.UserSearch.submit(), 'class -> "form-search") {
	    <div class="input-append">
	      <input type="text" class="input-medium search-query" id="username" name="username" />
	      <button type="submit" class="btn btn-primary" id="search_for_users_button">Search for Users</button>
	    </div>
	  }
        
        
    <h1>What Are You Doing?</h1>
    @form(action = routes.TweetController.updateStatus(), 'class -> "form-search") {
      <div class="input-append">
        <input type="text" class="input-medium search-query" id="message" name="message" />
        <button type="submit" class="btn btn-primary" id="tweet_button">Update Status</button>
      </div>
        
    }

    <div class="row">
      <div class="span6">
        <b>Most Recent @statuses.size() tweets</b>
        @for(tweet <- statuses) {
					<div class="statusMessage">
						<strong> @tweet.id said </strong> @tweet.message <br />
						<div class="statusMessageTime">
							at
							@tweet.dateCreated
						</div>
					</div>
				}
      </div>

	    <div class="span6">
        <b>Following @loggedInUser.followers.size() users</b><br/>
        @for(followed <- loggedInUser.followers) {
            <i class="icon-user"></i> @followed.username <br />
        }
	    </div>
				
    </div>
    
@*
    <h2>Tweet again</h2>
    <form>
    <input type="text" name="tweet">
    <input type="submit" value="Tweet" id="submit">
    </form>
    
    
<script type="text/javascript">
$('form').submit(function() {
  var createAction = #{jsAction @create(':tweet') }
  $.post(createAction({tweet: $('input:first').val()}), function(data) {
    $('ul').prepend(data);
    $('input:first').val('');
    });
    return false;
});

</script> 
*@
    
}
