@(statuses: List[models.Status], statusForm: Form[models.Status])

@import helper._

@main("Play Tweets") {
    
    
    <div class="page-header">
      <h1>Search For People to Follow</h1>
    </div>
        
        
    <div class="searchForm">
@*
      @form(routes.SearchableController.index())
      {
*@
<form>
        <input type="text" id="q">
        <input type="submit" value="Search for Users" id="search_for_users_button">
</form>
    </div>
    
    <h1>What Are You Doing?</h1>
    @form(routes.TweetController.updateStatus()) {
        
        @inputText(statusForm("message")) 
        
        <input type="submit" value="Create">
        
    }

    <b>Most Recent @statuses.size() tweets</b>
    
        @for(tweet <- statuses) {
					<div class="statusMessage">
						<strong> @tweet.id said </strong> @tweet.message <br />
						<div class="statusMessageTime">
							at
							@tweet.dateCreated
						</div>
					</div>
				}
    
    
@*
    <h2>Tweet again</h2>
    <form>
    <input type="text" name="tweet">
    <input type="submit" value="Tweet" id="submit">
    </form>
    
<script type="text/javascript">
$('form').submit(function() {
  var createAction = #{jsAction @create(':tweet') }
  $.post(createAction({tweet: $('input:first').val()}), function(data) {
    $('ul').prepend(data);
    $('input:first').val('');
    });
    return false;
});

</script> 
*@
    
}
